In [1]:
def run():
    
        result = []
        final = []
        
        data = ["state = TX","state = MD","state = NY","credit_line > 11000","credit_line <= 11000"]
        mintermBinary([], result)
        number = 0
        for i in range(len(result)):
            str = ''
            print(number," ", end = " ")
            for j in range(len(result[i])):
                    #print(result[i][j],end = " ")
                    if(result[i][j]==1): 
                        str += data[j] + " ^ "
            print(str[:-2],end = " ")  ## get rid of the last ^          
            number = number + 1
            print(end="\n")
         
            
        return

# 0 1
def mintermBinary(tempArray, result):
        if len(tempArray) == 5:
            result.append(tempArray[:])
            return
        
        for i in range(2):
            tempArray.append(i)
            mintermBinary(tempArray, result)
            tempArray.pop()


            
            
run()

0
1   credit_line <= 11000
2   credit_line > 11000
3   credit_line > 11000 ^ credit_line <= 11000
4   state = NY
5   state = NY ^ credit_line <= 11000
6   state = NY ^ credit_line > 11000
7   state = NY ^ credit_line > 11000 ^ credit_line <= 11000
8   state = MD
9   state = MD ^ credit_line <= 11000
10   state = MD ^ credit_line > 11000
11   state = MD ^ credit_line > 11000 ^ credit_line <= 11000
12   state = MD ^ state = NY
13   state = MD ^ state = NY ^ credit_line <= 11000
14   state = MD ^ state = NY ^ credit_line > 11000
15   state = MD ^ state = NY ^ credit_line > 11000 ^ credit_line <= 11000
16   state = TX
17   state = TX ^ credit_line <= 11000
18   state = TX ^ credit_line > 11000
19   state = TX ^ credit_line > 11000 ^ credit_line <= 11000
20   state = TX ^ state = NY
21   state = TX ^ state = NY ^ credit_line <= 11000
22   state = TX ^ state = NY ^ credit_line > 11000
23   state = TX ^ state = NY ^ credit_line > 11000 ^ credit_line <= 11000
24   state = TX ^ state = MD
25   state = TX ^ state = MD ^ credit_line <= 11000
26   state = TX ^ state = MD ^ credit_line > 11000
27   state = TX ^ state = MD ^ credit_line > 11000 ^ credit_line <= 11000
28   state = TX ^ state = MD ^ state = NY
29   state = TX ^ state = MD ^ state = NY ^ credit_line <= 11000
30   state = TX ^ state = MD ^ state = NY ^ credit_line > 11000
31   state = TX ^ state = MD ^ state = NY ^ credit_line > 11000 ^ credit_line <= 11000